<div class="d-flex justify-content-center mb-4">
  <div class="btn-group">
    <a href="/bank/deposit" class="btn btn-outline-primary {{#if (eq currentPage 'deposit')}}active{{/if}}" aria-current="page">Deposit</a>
    <a href="#" class="btn btn-outline-primary {{#if (eq currentPage 'history')}}active{{/if}}y">Bank History</a>
    <a href="#" class="btn btn-outline-primary {{#if (eq currentPage 'economy')}}active{{/if}}">Economy</a>
  </div>
</div>
