<h1>PageName</h1>

{{#if alert}}
  <div class="alert alert-{{alert.type}}">
    {{alert.message}}
  </div>
{{/if}}

<form name="#" id="" class="mb-5">
  
  <div class="d-flex gap-2 justify-content-end">
    <button class="btn btn-secondary" id="untrainSubmit">Untrain</button>
    <button class="btn btn-primary" id="trainSubmit">Train</button>
  </div>
</form>
