<h2>Settings</h2>
<p class="text-center">
  {{> main/userTitle displayName=userDataFiltered.displayName race=userDataFiltered.race class=userDataFiltered.class}} <br />
  Share this link to gain up to 200 citizens per day: {{recruitmentLink}}
</p>

