:root {
  font-size: 14px;
}
.nav ul {
  list-style-type: none;
  margin: 0;
}
.nav li {
  float: left;
  margin: 0;
}
.nav a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  margin: 0px;
  color: rgb(253, 226, 101);
  font-family: 'Trirong', serif;
}
.nav a:active,
.nav a:focus,
.nav a:hover,
.nav li.current {
  background-color: #c0532e;
}

.nav li.current ul {
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 4px;
  z-index:0;
}
.nav ul {
  position: absolute;
  left: -999em;
  list-style: none;
  padding: 0;
}
.nav ul li {
  width: auto;
  margin: 0;
}
.nav ul a {
  height: auto;
  padding: 0 15px;
}
.nav li:hover ul {
  left: 50%;
  transform: translate(-50%, 0);
  background: #70301a;
  padding-top: 4px;
  z-index:1
}
.menu-container {
  background-color: rgb(45, 12, 12);
}
.menu-second-tier {
  height: 40px;
  background-color: #70301a;
  margin-left: -10px;
  margin-right:-10px;
}
.sidebar {
  background-color: rgb(45, 12, 12);
  color: yellow;
}
.heading {
  background-color: #70301a;
}
.advisor {
  background-color: #b5a565;
  color: black;
  font-size: 130%;
  font-weight: bold;
  border-color: bisque;
}
.mainArea {
  background-color: black;
  color: rgb(255, 255, 92);
}
body {
  background-color: black;
}
.active {
  background-color: rgb(13, 97, 46);
}
h1 {
  font-family: 'Sofia', sans-serif;
  text-shadow: 3px 3px 3px #ababab;
  color: rgb(221, 149, 63);
  font-size: 500%;
}
