<h2>My Inbox</h2>
<table class="table table-responsive table-dark table-striped" id="inbox">
  <thead>
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each messages as |message|}}
      <tr {{#if message.is_unread}} class="table-primary"{{/if}}>
        <td>{{message.from_user.displayName}}</td>
        <td>{{message.subject}}</td>
        <td>{{message.date_time}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script>

document.addEventListener("DOMContentLoaded", function(event) {
  const table = new simpleDatatables.DataTable("#inbox", {
    searchable: false,
    pageLength: 50,
    lengthChange: false
  })
});
</script>