<h2>Read Message</h2>

<div class='row inbox-wrapper'>
  <div class='col-lg-12'>
    <div class='card-dark'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-lg-12 email-content'>
            <div class='email-head'>
              <div class='email-head-subject'>
                <div
                  class='title d-flex align-items-center justify-content-between'
                >
                  <div class='d-flex align-items-center'>
                    <span class="font-strong">{{{message.subject}}}</span>
                  </div>
                  <div class='icons'>
                    <a href='#' class='icon'><svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='24'
                        height='24'
                        viewBox='0 0 24 24'
                        fill='none'
                        stroke='currentColor'
                        stroke-width='2'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        class='feather feather-share text-muted hover-primary-muted'
                        data-toggle='tooltip'
                        title=''
                        data-original-title='Forward'
                      ><path
                          d='M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8'
                        ></path><polyline
                          points='16 6 12 2 8 6'
                        ></polyline><line
                          x1='12'
                          y1='2'
                          x2='12'
                          y2='15'
                        ></line></svg></a>
                    <a href='#' class='icon'><svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='24'
                        height='24'
                        viewBox='0 0 24 24'
                        fill='none'
                        stroke='currentColor'
                        stroke-width='2'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        class='feather feather-printer text-muted'
                        data-toggle='tooltip'
                        title=''
                        data-original-title='Print'
                      ><polyline points='6 9 6 2 18 2 18 9'></polyline><path
                          d='M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2'
                        ></path><rect
                          x='6'
                          y='14'
                          width='12'
                          height='8'
                        ></rect></svg></a>
                    <a href='#' class='icon'><svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='24'
                        height='24'
                        viewBox='0 0 24 24'
                        fill='none'
                        stroke='currentColor'
                        stroke-width='2'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        class='feather feather-trash text-muted'
                        data-toggle='tooltip'
                        title=''
                        data-original-title='Delete'
                      ><polyline points='3 6 5 6 21 6'></polyline><path
                          d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'
                        ></path></svg>
                    </a>
                  </div>
                </div>
              </div>
              <div
                class='email-head-sender d-flex align-items-center justify-content-between flex-wrap'
              >
                <div class='d-flex align-items-center'>
                  <!--<div class='avatar'>
                    <img
                      src='https://bootdey.com/img/Content/avatar/avatar1.png'
                      alt='Avatar'
                      class='rounded-circle user-avatar-md'
                    />
                  </div>-->
                  <div class='sender d-flex align-items-center'>
                    From:<a href='#' style="padding-left: 5px;">{{message.from_user.displayName}}</a>
                    <div class='actions dropdown'>
                      <a class='icon' href='#' data-toggle='dropdown'><svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='24'
                          height='24'
                          viewBox='0 0 24 24'
                          fill='none'
                          stroke='currentColor'
                          stroke-width='2'
                          stroke-linecap='round'
                          stroke-linejoin='round'
                          class='feather feather-chevron-down'
                        ><polyline points='6 9 12 15 18 9'></polyline></svg></a>
                      <div class='dropdown-menu' role='menu'>
                        <a class='dropdown-item' href='#'>Mark as read</a>
                        <a class='dropdown-item' href='#'>Mark as unread</a>
                        <a class='dropdown-item' href='#'>Spam</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item text-danger' href='#'>Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='date'>{{message.date_time}}</div>
              </div>
            </div>
            <div class='email-body'>
              {{{message.body}}}
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer pull-left">
            <a class="btn btn-sm btn-primary" href="" data-original-title="" title=""><i class="fas fa-reply"></i> Reply</a>
            <button class="btn btn-sm btn-secondary" data-original-title="" title=""><i class="fas fa-arrow-right"></i> Forward</button>
            <button data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i>Delete</button>
        </div>
    </div>
  </div>
</div>