<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">

      {{#if errorMessage}}
        <div class="alert alert-danger">
          {{errorMessage}}
        </div>
      {{/if}}

      <form action="/login" method="post" class="mt-2">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>

    </div>
  </div>
</div>
