<div class="d-flex justify-content-center">
  <ul>
    <li>Choose between four unique races: Undead, Humans, Goblins, Elves</li>
    <li>Train citizens as workers, offensive or defensive soldiers, and spies</li>
    <li>Equip your army with weapons and armor</li>
    <li>Play with friends, create your own alliance, and communicate via the in game message system</li>
    <li>Create a character profile with a custom avatar</li>
    <li>Stay in contact with the game's developers via the Dark Throne forum</li>
  </ul>
</div>
