<div class="container">
<div class="row">
<div class="menu-container">
<ul class="nav justify-content-center">
  <li class="{{isSelected 'home' menu_category}} nav-item">
    <a href="#" class="nav-link" id="home">Home</a>
    <ul id="home-second" class="menu-second-tier">
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/overview">Overview</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/levels">Levels</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/my-profile" disabled>Profile</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/settings" disabled>Settings</a></li>
    </ul>
  </li>
  <li class="{{isSelected 'battle' menu_category}} nav-item">
    <a href="#" class="nav-link" id="battle">Battle</a>
    <ul id="battle-second" class="menu-second-tier">
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/attack">Attack</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/training">Training</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/war-history" disabled>War History</a></li>
    </ul>
  </li>
  <li class="{{isSelected 'structures' menu_category}} nav-item">
    <a href="#" class="nav-link" id="structures">Structures</a>
    <ul id="structures-second" class="menu-second-tier">
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/bank/deposit">Bank</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/armory">Armory</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/structure-upgrades" disabled>Upgrades</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/housing" disabled>Housing</a></li>
      <li class="nav-item"><a class="nav-link" aria-current="page" href="/repair" disabled>Repair</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/signout" id="signout">Signout</a>
    <ul>
    </ul>
  </li>
</ul>
<div class="menu-second-tier"></div>
</div>
</div>
</div>