<div class="container">
  <div class="row">
    <div class="menu-container border-top">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</div>